
@{
    ViewBag.Title = "Add";
}



<h2>Adding a New Teacher</h2>
<form method="Post" action="/Teacher/Create" onsubmit="return validateTeacher();">
    <div class="add_id">
        <label for="TeacherFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" />
    </div>

    <div class="add_id">
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" />
    </div>

    <div id="add_hire">
        <label for="TeacherHireDate">Hire Date:</label>
        <input type="text" id="TeacherHireDate" name="TeacherHireDate" />
    </div>

    <div id="add_salary">
        <label for="TeacherSalary">Salary:</label>
        <input type="text" id="TeacherSalary" name="TeacherSalary" />
    </div>
    <div id ="addbutton">
        <input id="buttonadd" type="submit" value="Create Teacher" />
    </div>
</form>