@model SchoolProject.Models.Teacher 
@{
    ViewBag.Title = "Show";
}


<div class="containershow">
<nav>
    <a class="navlink" href="/Teacher/List">Back to Teachers</a>
    <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
    <a class="navlink" href="/Teacher/Update/@Model.TeacherId">Update</a>
</nav>
<h2 class="title2">@Model.TeacherFname @Model.TeacherLname</h2>             
        <p style="font-style:italic;">Hire Date: @Model.TeacherHireDate.ToString("yyyy-MM-dd HH:mm:ss")</p>
        <p>Salary: $@Model.TeacherSalary</p>
</div>


